Adafruit-Blinka==8.66.0
adafruit-blinka-displayio==2.3.1
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-bitmap_font==2.3.1
adafruit-circuitpython-busdevice==5.2.13
adafruit-circuitpython-connectionmanager==3.1.5
adafruit-circuitpython-ili9341==2.0.1
adafruit-circuitpython-mpu6050==1.3.4
adafruit-circuitpython-register==1.10.4
adafruit-circuitpython-requests==4.1.13
adafruit-circuitpython-rgb-display==3.14.1
adafruit-circuitpython-stmpe610==1.3.19
adafruit-circuitpython-typing==1.12.2
Adafruit-PlatformDetect==3.83.1
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
lgpio==0.2.2.0
pillow==11.3.0
pyftdi==0.57.1
pyserial==3.5
pyusb==1.3.1
requests==2.32.5
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
sysv-ipc==1.1.0
typing_extensions==4.15.0
urllib3==2.5.0
